table.table-bordered{
    border:1px solid #d2d6de;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid #d2d6de;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #d2d6de;
}